Container {
    layout: grid;
    grid-size: 5 5;
}

Static {
    height: 100%;
}

#p1 {
    row-span: 2;
    column-span: 2;
}

#p2 {
    row-span: 5;
    column-span: 3;
}

#p3 {
    row-span: 3;
    column-span: 2;
}